body{
    display: flex;
    justify-content: center;
}
.i{
    padding-bottom: 10px;
}
/* Скрываем сам чекбокс */
.toggle-input {
    display: none;
}

/* Стили для картинки по умолчанию (скрыта) */
.image-box {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease; /* Плавность появления */
    transform: scale(0.9);
}

/* При нажатии на label (чекбокс активен), показываем картинку */
.toggle-input:checked ~ .image-box {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* Стили кнопки */
.toggle-button {
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: white;
    display: inline-block;
    border-radius: 5px;
}
